$font-1: ('Montserrat', sans-serif);

// Color
$green-100: #04d372;
$green-200: #40d9b4;
$gray-100: #eeedee;
$gray-200: #d0cfd1;
$gray-300: #b0aeb2;
$gray-400: #646169;
$white-100: #fff;
$white-200: #ebebed;
$purple-400: #7f30ff;

$palette-colors: (
  black-200: #1c1d35,
  green-100: #04d372,
  gray-100: #eeedee,
  gray-200: #8a919d,
  white-100: #fbfafb
);
