$font-1: ('Montserrat', sans-serif);

// Color
$green-100: #04d372;
$gray-100: #eeedee;
$gray-200: #8a919d;

$palette-colors: (
  green-100: #04d372,
  gray-100: #eeedee,
  gray-200: #8a919d,
  white-100: #fbfafb
);
