.wrapper-content {
  background: $white-200;
  position: fixed;
  width: 100%;
  display: flex;
  height: 100vh;

  .content {
    width: calc(100% - 260px);
    height: 100vh;
    flex: auto;
    position: fixed;
    overflow-y: auto;
    right: 0;
    display: flex;
  }
}