body {
  font-family: $font-1;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-head  {
  min-height: 300px;
  display: flex;
  align-items: center;

  &.color-1 {
    background-image: linear-gradient(to right, #914dfe, #44345d);

    p {
      background: #623e9b;
    }
  }

  &.color-2 {
    background-image: linear-gradient(to right, #40bea5, #487a8d);

    p {
      background: #3d9587;
    }
  }

  &.color-3 {
    background-image: linear-gradient(to right, #ff6584, #9f4ea0);

    p {
       background: #c45887;
     }
  }

  > div {
    padding: 50px;
  }

  h1 {
    color: $white-100;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: 800;
    max-width: 600px;
  }

  p {
    color: $white-100;
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 14px;
  }
}

.content-wrapper {
  width: 100%;
}


.content-body {
  padding: 50px;
  padding-top: 20px;
}