.playlists-wrapper {
  
}

.playlists-head {
  min-height: 300px;
  display: flex;
  align-items: center;

  &.color-1 {
    background-image: linear-gradient(to right, #914dfe, #44345d);

    p {
      background: #623e9b;
    }
  }

  &.color-2 {
    background-image: linear-gradient(to right, #40bea5, #487a8d);

    p {
      background: #3d9587;
    }
  }

  &.color-3 {
    background-image: linear-gradient(to right, #ff6584, #9f4ea0);

    p {
       background: #c45887;
     }
  }

  > div {
    padding: 50px;
  }

  h1 {
    color: $white-100;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: 800;
    max-width: 600px;
  }

  p {
    color: $white-100;
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 14px;
  }
}

.playlists-body {
  padding: 50px;
  padding-top: 20px;
}

// Tracks
.tracks-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;

  thead {
    border-spacing: 0;
  }
  
  th {
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
    text-align: left;
  }

  th, td {
    color: $gray-300;
    vertical-align: middle;
    line-height: 1.4em;
    font-weight: 500;
  }

  strong {
    color: $gray-400;
  }

  tbody {
    tr {
      border-radius: 5px;
      overflow: hidden;
      background: $white-100;

      td {
        padding: 20px;

        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
          min-width: 100px;
        }
      }
    }
  }

  .popularity {
    span {
      border-left: 4px solid $green-200;
      display: inline-block;
      height: 16px;
      border-radius: 2px;

      &:not(:last-child) {
        margin-right: 4px;
      }

      &.active ~ span {
        border-color: $gray-300;
      }
    }
  }
}

.playlists-nav {
  margin-top: 30px;
  text-align: center;

  a {
    display: inline-block;
    color: $white-100;
    background: $green-200;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
    margin: 0 20px;
    min-width: 110px;
    text-align: center;

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}